<div class="container-fluid container-detail">
	<div class="row">
		<div class="col col-sm-6 col-article">
			<h3 data-obj-id="{{article._id}}">{{article.title}}</h3>
			<p>{{article.date}}</p>
			<p>{{article.story}}</p>
			<button type="button" class="btn btn-large"><a href="{{article.link}}">View Full Article</a></button>
		</div><!-- /col-article -->
		<div class="col col-sm-6 col-questions">
			<h4>What do you think?</h4>

			<label for="sympathy">Whose side is the author taking?<br /><input class="form-control" id="sympathy" /></label><br />

			<label for="antipathy">Who is the villain of the piece?<br /><input class="form-control" id="antipathy" /></label><br />

			<label for="examples">Give examples in the text that inform your conclusions.<br /><textarea class="form-control" id="sympathy"></textarea></label></div><br />

			<button type="button" class="btn btn-large">Save Thoughts</button>

		</div><!-- /col-questions -->
	</div><!-- /row -->
</div><!-- /container-articles -->